#navigation-container {
  height: 60px;
  width: 100%;
  transition: width 0.3s ease-in-out;
  
}

#navigation-container:hover {
  width: 100%;
}

.nav-item-name {
  display: none;
  /* margin-left: 8px; */
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out;
}
